.input-tambah{
    border: 2px solid black;
    border-radius: 2px; 
    width: 700px;
    height: 100px;
    padding-top: 12px;
}

.input-kali{
    border: 2px solid black;
    border-radius: 2px; 
    width: 700px;
    height: 100px;
    padding-top: 12px;

}

.input-bagi{
    border: 2px solid black;
    border-radius: 2px; 
    width: 700px;
    height: 100px;
    padding-top: 12px;
}
